section.kontakt
  h1.title Kontakt
  .contact__wrapper
    form(method="post", class="contact__form--wrap", name="contact_form", action="mailer.php")
      input(type="text", class="field--inactive contact__form--name", placeholder="Imię", name="name", required="true", maxlenght="100")
      input(type="email", class="field--inactive contact__form--mail", placeholder="Twój email", name="email", required="true", maxlenght="100")
      textarea(type="textarea", class="field--inactive contact__form--text", placeholder="Treść wiadomości", name="message", required="true")
      button(type="submit", class="btn--inactive contact__form--submit", placeholder="Wyślij") Wyślij
      .contact__message

.footer__copyrights Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb procesu rekrutacji, zgodnie z Ustawą z dn. 29.08.97 r. o Ochronie Danych Osobowych Dz. Ust. nr 133 poz. 883
