.contact__wrapper
  display: flex
  flex-direction: column
  // max-width: 90%
  // margin: 0 auto
  @media screen and (min-width: 960px)
    display: flex
    flex-direction: row
    // background-color: green
    justify-content: space-between
    align-items: baseline


@mixin contact
  display: block
  border: 1px solid lighten($accent, 30%)
  padding-left: 20px
  transition: all 0.2s ease-in-out
  &:active,
  &:focus,
    outline: none
    border: 1px solid $accent

.field--inactive
  @include contact
  box-sizing: border-box
  font: normal 1.2rem/2rem 'Open Sans'
  height: 50px
  width: 600px
  max-width: 100%
  margin: 0 auto
  margin-bottom: 25px
  // background-color: green
  &:nth-child(3)
   height: 300px
   padding-top: 15px
  @media screen and (min-width: 960px)
    margin: 0px 0px 20px auto


.btn--inactive, .btn--download
  @include contact
  // display: inline-block
  font: bold 1.2rem/50px 'Open Sans'
  background-color: lighten($accent, 10%)
  color: white
  width: 140px
  height: 50px
  border: none
  // border: 1px solid green
  padding: 0
  text-align: center
  // font-weight: bold
  margin: 0 auto
  // margin-left: auto
  margin-bottom: 10px
  transition: background-color 0.2s ease-in-out
  &:hover,
  &:focus
    background-color: $accent
  @media screen and (min-width: 960px)
    display: inline-block
    // margin: 0px 0px 100px auto
    margin: 0px 0px 50px 0px
    // float: right
// button::after
//   margin: 0
//   padding: 0
//   content: 'Dziękuje za wiadomość, odpowiem możliwie najszybciej, jak będzie to możliwe.'
//   display: block
//   color: black
//   background-color: pink
a:link,
a:visited,
a:hover,
a:active
  color: white

.btn--download
  margin: 0
.hero__download
  // display: flex
  position: absolute
  top: 350px
  left: 15px
  @media screen and (min-width: 414px)
    left: 40px
  @media screen and (min-width: 700px)
    left: 40px
  @media screen and (min-width: 1000px)
    left: 75px
  // background-color: pink
.hero__download p
  text-align: center
  // display: inline-block
  color: white
  font: bold 0.8rem/1rem 'Open Sans'
  margin-top: 5px
  // width: 300px
  // background-color: pink

.contact__message
  text-align: center
  float: none
  display: block
  margin: 0 auto
  font: bold 1rem/60px 'Open Sans'
  // width: 450px
  // background-color: pink
  @media screen and (min-width: 960px)
    float: right

.success
  color: #468847
.error
  color: #b94a48

// .footer__title
//   font: bold 1.3em/1.5em Dosis
//   text-align: center
//   color: gray

.footer__copyrights
  font: normal 0.8rem/1.2rem 'Open Sans'
  text-align: center
  color: gray
  padding: 50px 0px 20px 0px

input[type="text"], input[type="email"], textarea[type="textarea"]
  -webkit-appearance: none
  border-radius: 0
